img{
    max-width: 100%;
    height: auto;
}
p{
    background-color: brown;
    color: aquamarine;
}

/*for laptop*/
@media screen and (min-width:769px) and (max-width:1024px){
    img{
        max-width: 100%;
        height:auto;
    }
    p{
        background-color: rgb(42, 106, 165);
        color: rgb(47, 22, 65); 
    }
}

/*for tablet*/
@media screen and (min-width:481px) and (max-width:768px){
    img{
        max-width: 100%;
        height:auto;
    }
    p{
        background-color: rgb(75, 99, 32);
        color: rgb(141, 88, 38);
    }
}

/*for mobiles*/
@media screen and (min-width:320px) and (max-width:480px){
    img{
        max-width: 100%;
        height:auto;
    }
    p{
        background-color: rgb(49, 10, 10);
        color: rgb(21, 66, 51);
    }
}
