@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
    background-color: aquamarine;
    font-size:40px;
    color:brown;
    font-family: 'Poppins', sans-serif;
}

p{
    background-color: brown;
    font-size: 20px;
    color:aquamarine;
    font-family: 'Poppins', sans-serif;
}