.container{
    width: 1050px;
    height: 1050px;
    border-style: solid;
    position:relative;
}
.box{
    width:250px;
    height:250px;
    border-style: solid;
    border-radius: 5%;
    text-align: center;
    text-decoration: wavy;
}
.red{
    background-color: aqua;
    position:absolute;
    left:250px;
}
.purple{
    background-color:blue;
    position: relative;
    top:10px;
    left:500px;
}
.yellow{
    background-color:blueviolet;
    position:sticky;
    position:top;
}
.orange{
    background-color: brown;
    position:fixed;
}